.themeform {
  display: grid;
  gap: 12px;
  padding: 1rem;
  background-color: #ddd;
}

.themeform__title {
  margin: 0;
  font-size: 1.2rem;
  color: #333;
}

.themeform__color-inputs {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 4px;
}

.themeform__color-input {
  display: contents;
}

.themeform__button {
  padding: 12px;
  border-radius: 8px;
  border: none;
  background-color: dodgerblue;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

.themeform__button:active {
  background-color: rgb(25, 126, 228);
}

.colorinput {
  overflow: hidden;
  border-radius: 8px;
}

.colorinput__color {
  height: 70px;
  width: 100%;
  border: none;
  scale: 1.2;
}

.colorinput__text {
  width: 100%;
  border: none;
  background-color: #f3f3f3;
  padding: 2px;
}

.colorinput__wrapper {
  display: grid;
  gap: 4px;
  padding: 4px;
  background-color: #eee;
}

.colorinput__label {
  font-size: 0.8rem;
  color: #333;
}
